body{
    margin: 5%;
}

#cardDoutrina{
    display: none;
    background-color: #EECDB2;
    padding: 3%;
    border-radius: 10px;
}

#cardDoutrina h2{
    color: #56321B;
    font-weight: normal;
    font-size: large;

    border-bottom: solid 1px;
    border-color: #B08E5A;
}

#doutrinas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#doutrinas button{
    margin: 5px;
    width: 60%;
    height: 60px;
    border-radius: 10px;
    border: 0; 
    background-color: #EECDB2;
    color: #56321B;
}

.texto{
    font-size: small;
}


button{
    border-radius: 5px;
    color: #221307;
    background-color: #d69165;
    border: none;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    
}